name: Build

on:
  push:
    branches:
      - "main"
      - "jakarta"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'README*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [17]
    name: build with jdk ${{matrix.java}}

    steps:
      - uses: actions/checkout@v4
        name: checkout

      - uses: actions/setup-java@v5
        name: set up jdk ${{matrix.java}}
        with:
          distribution: 'temurin'
          java-version: ${{matrix.java}}
          cache: 'maven'
          cache-dependency-path: '**/pom.xml'

      - name: build with maven
        run: mvn formatter:validate verify --file pom.xml -Pnative
